{% extends 'base.html' %}

{% block title %}Secret - {{ object.name }}{% endblock %}

{% block content %}
<h2>Secret - {{ object.name }}</h2>

{% if clear_text_secret %}
  <form action="{{ update_url }}" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    <p><label for="id_data">Data:</label> <textarea name="data" cols="40" required="" rows="10" id="id_data">{{ clear_text_secret }}</textarea></p>
    <button type="submit">Update</button>
  </form>

{% else %}
  <pre style="word-break: break-all; white-space: normal; width: 50%; border: 1px solid; padding: 15px;">
    {{ object.hex_data }}
  </pre>

  <form method="POST" accept-charset="utf-8">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Show Secret</button>
  </form>
{% endif %}
{% endblock %}
